#parallax_one{
    background-image: url(../images/setyaki-irham-QGDsM8qwkEA-unsplash.jpg);
    height: 700px;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#parallax_two{
    background-image: url(/images/filipp-romanovski-JZ4dj2P51w4-unsplash.jpg);
    height: 700px;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#parallax_three{
    background-image: url(/images/wout-vanacker-BNuzJbbwSx8-unsplash.jpg);
    height: 700px;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#parallax_four{
    background-image: url(/images/jonathan-farber-N5EHgkVWZRI-unsplash.jpg);
    height: 700px;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.parallax_effect{
    height: 700px;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.parallax_wrapper{
    background-color: lightblue;
    width: 800px;
    height: 360px;
    border-radius: 25px;

}